* {
    box-sizing: border-box;
}

header {
    margin-top: 10px;
}

.container {
    width: 90%;
    max-width: 1800px;
    margin: auto;
}

.header1 a {
    font-size: 50px;
    text-decoration: none;
    color: black;
}

.header2 input {
    width: 150%;
    height: 35px;
    padding-left: 35px;
    background-image: url('imgs/free-icon-search-4024513.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
}

.header3 a {
    margin-right: 20px;
    align-items: center;
}

.header2 input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #000000;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.slider {
    display: flex;
    justify-content: center;
    margin-top: 40px;

}
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides{
    display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  
}
.next {
    /* 
Свойство right задает правого края элемента.  */
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: black;
    }
}

.mini {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: black;
    width: 80%;
    border-radius: 35px;
    border: none;
}

.mini img {
    /* width: 100%; */
    height: 100%;
}

.mini h2 {
    color: white;
    font-size: 35px;
}

.cases {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.case {
    background-color: white;
    padding: 50px 90px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.60);
    border: none;
    animation: pulse 2s infinite;
    transition: transform 0.3s ease;


}


.case:hover {
    transform: scale(1.1);
}

@keyframes case {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.case h3 {
    text-decoration: none;
    color: black;

}

.headphones {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.headphone {
    background-color: white;
    padding: 50px 90px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.60);
    border: none;
    transition: transform 0.3s ease;

}

.headphone:hover {
    transform: scale(1.1);
}

.headphone p,
h3 {
    color: black;
}

.u {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.u img {
    width: 23px;
    height: 21px;

}

footer {
    background-color: white;
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.60);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
    padding: 0 5px;

}

h5 {
    font-size: 35px;
    position: relative;
    bottom: 40px;
}

ul {
    list-style-type: none;

}

li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.k {
    display: flex;
    align-items: center;
    gap: 20px;
}

.headphones a {
    text-decoration: none;
}

.slider a {
    text-decoration: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.modal-content h6 {
    font-size: 30px;
}

.modal-content button {
    font-size: 25px;
    padding: 20px 60px;
    background-color: black;
    border-radius: 12px;
    color: white;
    display: block;
    margin: auto;
}

.modal-content button:hover {
    cursor: pointer;
}

.closePage {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.headerNoneInput {
    display: none;
}

@media(max-width:600px) {
    .headphones {
        display: flex;
        flex-direction: column;

    }

    .cases {
        display: flex;
        flex-direction: column;

    }

    .header2 {
        display: none;
    }

    .headerNoneInput {
        display: block;
    }

    .headerNoneInput input {
        margin-top: 20px;
        width: 100%;
        height: 35px;
        padding-left: 35px;
        background-image: url('imgs/free-icon-search-4024513.png');
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        border: 1px solid #bdbdbd;
        border-radius: 0.25rem;

    }

    .slider {
        display: none;
    }

    .cases {
        display: flex;
        justify-content: center;
    }

    .kor {
        display: flex;
        justify-content: center;
    }

    .u p {
        color: red;
    }


    .skidka {
        text-decoration: line-through;
        color: red;
        font-size: 18px;
        display: block;
        text-align: right;
    }
    .mobileTovar{
        background-color: white;
    padding: 40px 90px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.60);
    border: none;
    }

}